<nav class="navbar navbar-expand-lg nav-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="">
            <img src="" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bstarget="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li style="color:black ;"class="nav-item">
                    <a href="{% url 'index_page'%}" class="nav-link">Home</a>
                </li>

                <li style="color:black ;" class="nav-item">
                    <a href="{% url 'login_page' %}" class="nav-link">Login</a>
                </li>

                <li style="color:black ;"class="nav-item">
                    <a href="{% url 'form_page'%}" class="nav-link">Form</a>
                </li>

                <li style="color:black; background-color:gray ;"class="nav-item">
                    <a href="{% url 'complete_page'%}" class="nav-link">Complete</a>
                </li>


            </ul>
        </div>
    </div>
</nav>