
{% extends 'layouts/master.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row">

        
        <div class="col-lg-6">
            <div class="card mt-2">
                <i class="mt-2"><h4 class="bi bi-browser-edge text-danger text-center"></h4></i>
                

                <h4 class="text-center">Pending Tasks</h4>
                <p class="text-center">{{pending}}</p>
                
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="card mt-2">
                <i class="mt-2 text-center"><h4 class="bi bi-c-circle-fill text-success"></h4></i>
                <h4 class="text-center">Completed Tasks</h4>
                <p class="text-center">{{complete}}</p>
            </div>
                            
        </div>
    </div>
</div>
{%  endblock %}