{% extends 'layouts/base.html' %}

{% include 'layouts/sidebar.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                 <h1>Add Task</h1>

                 <form action ="{% url 'form_page' %}" method="POST">

                    {% csrf_token %}
                    <label for="title">Title</label><br>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter your first name">
    
                    <label for="description" class="mt-2">Description</label><br>
                    <textarea id="description"name="description"class="form-control"  placeholder="Enter your email"></textarea>
    
                    <label for="due date"class="mt-2">Due_date</label><br>
                    <input type="datetime-local" id="due_date" name="due_date"class="due_date form-control" placeholder="">
    
                    <input class="btn btn-primary mt-2" type="submit" value="Submit">
    
    
                    <a href="{% url 'index_page'%}" class="btn btn-secondary mt-2">Go to todos</a>
    
                 </form>
                </div>
          </div>
        </div>
    </div>
</div>    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 
</body>

</html>

{% endblock %}