{% extends 'layouts/base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">


            <div class="col-lg-4">

                <img class=" img-fluid "src="https://images.unsplash.com/photo-1506784781895-38847b5e50e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHRvZG98ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">

            </div>


            <div class="col-lg-8 mt-5">
                <h1 class="text-center p-50">Welcome to your productivity helper.</h1>
                <h3 class="text-center">Do you want to organize your work but dont know where to start?</h3>
                <h3 class="text-center text-danger mt-5 animate__animated animate__flip">Look no further</h3>
                
            
                <div class="d-flex flex-row justify-content-center"> 
                    <a href="task_details.html"class="nav-link btn-secondary"><button class="btn btn-secondary btn-lg ">Tasks</button></a>
                </div>


            </div>
           
            
        </div>
    </div>
    
{% endblock %}