<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link rel="stylesheet" href="">
    <!-- CSS only -->
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg nav-dark">
        <div class="container-fluid">
    
            <a class="navbar-brand" href="">
                <img src="" alt="">
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bstarget="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
    
                <ul class="navbar-nav ms-auto">
    
                    <li style="color:black ;"class="nav-item">
                        <a href="{% url 'Index.html'%}" class="nav-link">Home</a>
                    </li>
    
                    <li style="color:black ;" class="nav-item">
                        <a href="{% url 'Login.html' %}" class="nav-link">Login</a>
                    </li>
    
                    <li style="color:black ;"class="nav-item">
                        <a href="{% url 'forms.html'%}" class="nav-link">Form</a>
                    </li>
    
                    <li style="color:black ;"class="nav-item">
                        <a href="{% url 'info.html'%}" class="nav-link">Info</a>
                    </li>
    
    
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">

            <h1 class="text-center mt-5 text-danger">Wanna save up for that time of year?</h1>
            <h3 class="text-center">We are offering a 50% discount of things you would like such as:  </h3>
            
            
            <div class="col-lg-4 mt-5">
                <th>
                    <tr>
                        <img src="https://images.unsplash.com/photo-1574376407492-c3cf78231def?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGZhbGx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"alt="">

                    </tr>

                </th>
            </div>

            <div class="col-lg-4 mt-5">

                <th>
                    <tr>
                        <img src="https://images.unsplash.com/photo-1543258103-a62bdc069871?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNocmlzdG1hc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"alt="">

                    </tr>

                </th>
            </div>
            
            <div class="col-lg-4 mt-5">
                <th>
                    <tr>
                        <img src="https://images.unsplash.com/photo-1512389142860-9c449e58a543?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2hyaXN0bWFzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"alt="">

                    </tr>
                </th>
            </div>

            <h1 class="text-center text-danger mt-3 animate__animated animate__flip">Be sure to follow us so that you don't miss out.</h1>
            <a href="{% url 'form_page'%}" type="button" class="btn btn-secondary w-20">Go to form</a>

        </div>
    
    </body>
</html>

