{% extends 'layouts/master.html'  %}

{% load widget_tweaks %}

{% block content %}

<h1>Task Form</h1>

<div class="card">
    <div class="card-body">
        <form  method="post">

            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          
          {% for field in form.visible_fields %}

            <div class="mb-3">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}

              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}


            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>

    </div>
</div>
{% endblock%}