{% extends 'layouts/master.html' %}

{% include 'layouts/sidebar.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-10">

            <h2><span class="text-muted">To Do:</span> {{task.title}}</h2>
            {% if task.complete %}
            <h6><span class="badge bg-success">Completed</span></h6>

            {% else %}
            <h6><span class="badge bg-warning">Pending</span></h6>
            {% endif %}


            <div class="mt-3">Description :</div>
            
            <small>{{task.description}}
                {% if not task.description %}
                <span class="text-muted">No description added for this task.</span>
                {% endif %}
            </small>
       

            <h6 class="mt-4">Due date: {{task.due_date| date:"d, M Y"}}</h6>


             {% if  not task.complete %}

            <a href="{% url 'update.task.status' task.id %}" class="btn btn-secondary w-25">Complete</a>

          
             {% endif %}

        </div>

    </div>
</div>

{% endblock %}