{% extends 'layouts/base.html' %}


{% block content %}


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="text-center text-white">Welcome to the home page.</h1>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="col-lg-8">
                        <h4>This is where you get to see the certain designs. </h4>
                    </div>

                    <div class="col-lg-4">
                        <img src="https://images.unsplash.com/photo-1522199670076-2852f80289c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="">
        
                    </div>
                    
                </div>
            </div>
         
            

        </div>
    </div>
{% endblock %}