{% extends 'layouts/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
      
        <div class="col-lg-4">

            <div class="card">
                <div class="card-body">
                        <h1 class="">Login</h1>  
                        
                  <form action="{% url 'login.handler'%}" method="POST" class="#commentForm">

                    {% csrf_token %}

                    {% if category%}
                    <input type="hidden" name="id" value="{{category.id}}">
                    {% endif %}

                    <div class="mb-3">
                        <label for="username" class="text-info">Username:</label><br>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="text-info">Password:</label><br>
                        <input type="text" name="password" id="password" class="form-control">
                    </div>


                    <button type="submit" class="btn btn-info">Submit</button>
                  </form>
                        
                </div>

        </div>

    </div>
</div>


{% endblock %}

{% block js %}

<script>
        
        $(document).ready(function(){
            $("#commentForm") . submit(function(e){
                e.preventDefault();

                $.ajax({
                    dataType:"json",
                    data : $("#commentForm") . serialize() , //This changes the form data into json format
                    url: "{% url '' %}",
                    method : "POST",
                    success : function(data){
                        window.location.reload ();
                    },
                    error: function (data){
                        console.log(data)
                    }
                });
            });
        });
    
</script>



{% endblock %}